/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import '../../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import'../../public/vendor/cookie-consent/css/cookie-consent.css';
@import'../../node_modules/@fortawesome/fontawesome-free/css/all.css';
@font-face {
    font-family: "Kite One";
    src: url(/public/fonts/KiteOne-Regular.ttf) format("ttf"),
}

@font-face {
    font-family: "Marck Script";
    src: url(/public/fonts/MarckScript-Regular.ttf) format("ttf"), url(/public/fonts/marckscript-regular-webfont.woff2) format('woff2'), url(/public/fonts/marckscript-regular-webfont.woff) format('woff'), url(/public/fonts/marckscript-regular-webfont.ttf) format('truetype'), url(/public/fonts/marckscript-regular-webfont.svg) format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
    scroll-behavior: cubic-bezier(.46, .11, .66, .79)
}


/* Dashboard */

.burger-dashboard {
    position: sticky;
    margin-right: 7px;
    top: 43px;
    left: 40rem;
    visibility: visible;
    width: 29px;
    height: 0;
    cursor: pointer;
}

.burger-dashboard span {
    display: block;
    width: 100%;
    height: 3px;
    right: 50%;
    background-color: white;
    position: absolute;
    top: 15%;
    transform: translateY(-50%);
    transition: background-color .2s ease-in-out;
}

.burger-dashboard span::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: red;
    transition: transform .4s ease-in-out;
}

.burger-dashboard span::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: green;
    transition: transform .4s ease-in-out;
}

.burger-dashboard span::before {
    transform: translateY(15px);
    top: -5px;
}

.burger-dashboard span::after {
    transform: translateY(-15px);
    top: 5px;
}

.burger-dashboard.active span {
    background-color: transparent;
}

.burger-dashboard.active span::before {
    transform: translate(0px, 5px) rotate(45deg);
}

.burger-dashboard.active span::after {
    transform: translate(0px, -5px) rotate(133deg);
}

.list-group-item {
    box-sizing: initial;
}

.burger {
    position: sticky;
    margin-right: -16px;
    top: 43px;
    left: 40rem;
    visibility: visible;
    width: 29px;
    height: 50px;
    cursor: pointer;
}

.burger span {
    display: block;
    width: 100%;
    height: 3px;
    right: 50%;
    background-color: white;
    position: absolute;
    top: 15%;
    transform: translateY(-50%);
    transition: background-color .2s ease-in-out;
}

.burger span::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: red;
    transition: transform .4s ease-in-out;
}

.burger span::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: green;
    transition: transform .4s ease-in-out;
}

.burger span::before {
    transform: translateY(15px);
    top: -5px;
}

.burger span::after {
    transform: translateY(-15px);
    top: 5px;
}

.burger.active span {
    background-color: transparent;
}

.burger.active span::before {
    transform: translate(0px, 5px) rotate(45deg);
}

.burger.active span::after {
    transform: translate(0px, -5px) rotate(133deg);
}

.list-group-item p {
    display: inline;
    font-weight: bold;
}

.list-group-item {
    border: none;
}

.recap {
    background-color: aqua;
}

.form-dashboard {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.form-login {
    width: min-content;
    margin: auto;
}

.row {
    --bs-gutter-x: 0
}

.dashboard {
    column-gap: 6rem;
    height: 100%;
    background-color: seashell;
}

.recap-all {
    width: 90vw;
    margin: 0 auto;
}

h2 {
    text-align: center;
}

.main-nav li {
    list-style: none;
}

.main-nav ul {
    border-bottom: 1px solid;
    padding: 5px;
}

.dashboard-body .wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(396px, auto));
    gap: 0.5rem;
}

.dashboard-body .vegetable {
    width: 100%;
    height: 100%;
}

.dashboard-body .vegetable ul {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 1rem;
}

.main-nav>ul:nth-child(4) {
    border-top: 1px solid;
}

.list-group-item {
    padding: 14px
}

.pizza-name {
    display: block;
    margin: auto;
}

input[type=checkbox] {
    transform: scale(1.3);
    margin-right: 10px;
    margin-top: 10px;
    font-size: 19px;
}

.ingredient-list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.pizza-recap ul {
    display: flex;
    flex-wrap: wrap;
    column-gap: 97px;
}

.pizza-recap ul li {
    border: 1px solid black;
}

.recap-all {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
}

.boissons-recap,
.dessert-recap {
    background-color: seashell;
}

article {
    flex: auto;
}

.nav-dashboard {
    display: flex;
    justify-content: center;
    flex-direction: column;
    column-gap: 10rem;
}

.header-dashboard {
    position: fixed;
    z-index: 8;
    height: 100px;
    background-color: #fff;
    border-bottom: 1px solid;
    box-shadow: inset 0px -14px 16px 17px rgb(0 0 0 / 5%);
}

.nav-dashboard li {
    list-style: none;
}

.nav-dashboard li a {
    color: black;
    text-decoration: underline;
}

.recap-all {
    width: 67vw;
}

.drink {
    flex-basis: max-content;
}

.dashboard-body h2 {
    color: black;
}

.dashboard-body {
    font-family: 'Kite One', sans-serif;
}

.dashboard-body h1 {
    position: static;
    color: #e03325;
    border-bottom: 1px solid;
    width: 47%;
    margin-top: 8rem;
    margin-bottom: 4rem;
    margin-left: 0;
    margin-right: 0;
}

.dashboard-body aside {
    width: 252px;
    transform: translateX(-267px);
    transition: transform .5s;
    position: absolute;
    background-color: #fff;
    border-right: 1px solid;
    box-shadow: inset 0px -14px 16px 17px rgb(0 0 0 / 5%);
    padding: 2rem;
    height: 100vh;
    line-height: 30px;
}

.dashboard-body #aside>h3 {
    margin-bottom: 20px;
    margin-top: 40px;
}

.dashboard-body aside.show {
    transform: translateX(0px);
    transition: transform .5s;
    position: fixed;
    z-index: 16;
    height: 100%;
}

.dashboard-body.background-black {
    background-color: #333;
}

.dashboard-body.background-black>.main {
    background-color: inherit;
}

.main-nav {
    position: sticky;
    top: 0;
}

.main-nav h3 {
    color: #545cd8;
    text-align: start;
}

.dashboard-body main {
    background: #f1f4f6;
}

.main-nav ul li a {
    color: #6c757d;
}

.dashboard-body .pizzas ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.dashboard-body .pizzas ul li:not(.list-checkbox) {
    list-style: none;
    border: 1px solid;
    border-radius: 15px;
    padding: 10px;
}

.dashboard-body ul #plats-maisons {
    position: static;
}


/* .dashboard-body .pizza-list {
    width: 100%;
} */

.main-content {
    column-gap: 1rem;
}

.modal-validation {
    position: relative;
}

.modal-validation div {
    position: fixed;
    top: 50%;
    left: 50%;
    border: 1px solid;
    padding: 1rem;
    transform: translate(-44%, 16%);
    display: none;
}

.list-checkbox {
    border-bottom: 1px solid;
    margin-top: 10px;
}

.dashboard-body .title-category {
    margin-top: 7rem;
}

@media screen and (max-width:800px) {
    .dashboard-body .pizza-list {
        width: 100%;
    }
}

@media screen and (min-width:791px) {
    .dashboard-body aside {
        width: auto;
        position: sticky;
        top: 0;
        transform: translateX(0px);
    }
    .burger-dashboard {
        display: none;
    }
    .header-dashboard {
        display: none;
    }
}


/* Website */

.mentions {
    font-size: 18px;
    margin-top: 10em;
    margin-left: 1em;
    margin-bottom: 4em;
}

.website {
    font-size: 20px;
    letter-spacing: 1px;
}

a {
    text-decoration: none;
}


/* h1 {
    position: relative;
    color: #e03325;
    border-bottom: 1px solid;
    width: 47%;
    margin: auto;
} */

.logo {
    position: fixed;
    top: -13px;
    left: -18px;
    z-index: 300;
    width: 127px;
}

.logo img {
    max-width: 100%;
    width: 193px;
}

.main-site {
    font-size: 25px;
    letter-spacing: 2px;
}

.main-header {
    position: fixed;
    top: 0;
    height: 340px;
    z-index: 2;
    width: 100%;
    background: url(/public/images/flavor.webp);
    transform: translateY(-251px);
    transition: transform .3s;
}

.pizza-category {
    position: relative;
    color: white;
    cursor: pointer;
}

.pizza-category .pizza-category-nav {
    display: flex;
    flex-direction: column;
    transition: opacity .3s ease-in;
    margin: auto;
    overflow: hidden;
    height: 0px;
    transition: height .3s ease-in;
    padding: 0;
}

.pizza-category .pizza-category-nav li a {
    color: #34A248
}

.pizza-category .pizza-category-nav.show {
    height: 149px;
    transition: height .3s ease-in;
    border-radius: 9px;
    padding: 0;
}

.main-header.expends {
    height: 455px;
    transition: height .3s ease-in;
}

.pizza-category-nav {
    margin: auto;
    display: none;
}

.menu-carte {
    color: white;
    cursor: pointer;
}

.menu-carte .menu-carte-nav {
    display: flex;
    flex-direction: column;
    transition: opacity .3s ease-in;
    margin: auto;
    overflow: hidden;
    height: 0px;
    transition: height .3s ease-in;
    color: white;
    padding: 0;
}

.menu-carte .menu-carte-nav.show {
    height: 143px;
    transition: height .3s ease-in;
    border-radius: 9px;
    padding: 0;
}

.pizza-category-nav li,
.menu-carte-nav li a {
    color: #e03325;
}

.main-header nav ul {
    text-align: center;
    margin-top: 4rem;
    line-height: 3rem;
    flex-direction: column;
    column-gap: 3rem;
}

.main-header nav ul li {
    list-style: none;
    font-size: 23px;
    font-family: 'Marck Script', cursive;
    font-weight: bold;
}

.carousel {
    max-height: 681px;
    margin-top: 100px;
}

.main-title {
    position: relative;
    display: block;
    color: #e03325;
    border-bottom: 1px solid;
    width: 47%;
    margin: auto;
    font-size: 1em;
}

.carousel-caption h2 {
    font-size: 48px;
    color: black;
    font-family: 'Marck Script', cursive;
}

.carousel-caption p {
    font-size: 27px;
    color: black;
    font-family: 'Kite One', sans-serif;
}

.carousel-caption {
    bottom: 7.25rem;
    background-color: #f0f8ffd1;
    width: 53%;
    margin: auto;
    border-radius: 30px;
}

.carousel .carousel-item {
    height: 433px;
    animation: scale 14s
}

.carousel-item img {
    object-fit: cover;
    object-position: center;
    height: inherit;
}

.top-nav {
    display: none;
    position: relative;
    bottom: 66px;
}

.top-nav ul li i {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-bottom: 4px;
    margin-left: 10px;
    transform: rotate(45deg);
}

.top-nav>ul>li>a {
    color: white;
}

.main-site .burger {
    position: sticky;
    margin-right: -9px;
    margin-top: -3rem;
    top: 37px;
    left: 46rem;
    visibility: visible;
    width: 35px;
    height: 34px;
    cursor: pointer;
    z-index: 300;
}

.main-header.show {
    transform: translateY(-1px);
    transition: transform .5s, height .6s;
    transition-delay: 110ms;
}

.main-header.show ul li {
    opacity: 0;
    animation: .7s ease-in-out slide-in forwards;
}

.main-header.show ul>li:nth-child(1) {
    animation-delay: 100ms;
}

.main-header.show ul>li:nth-child(2) {
    animation-delay: 200ms;
}

.main-header.show ul>li:nth-child(3) {
    animation-delay: 300ms;
}

.main-header.show ul>li:nth-child(4) {
    animation-delay: 400ms;
}

.img {
    width: 50%;
    margin: auto;
}

.img img {
    max-width: 100%;
    height: 200px;
}

.menu {
    color: black;
}

.pizza-blanches {
    background: url(/public/images/background-tomates.webp);
    background-color: rgba(red, green, blue, .5);
    background-size: cover;
    background-position-x: 32px;
    background-attachment: fixed;
}

.pizza-tomates {
    background: url(/public/images/background-blanches.webp);
    background-color: rgba(red, green, blue, .5);
    background-size: cover;
    background-position-x: 32px;
    background-attachment: fixed;
}

.pizza-calzones {
    background: url(/public/images/background-calzone.webp);
    background-color: rgba(red, green, blue, .5);
    background-size: cover;
    background-position-x: 32px;
    background-attachment: fixed;
}

.boissons {
    background: url(/public/images/background-boissons.webp);
    background-color: rgba(red, green, blue, .5);
    background-size: cover;
    background-position-x: 32px;
    background-attachment: fixed;
    padding: 1rem;
}

.desserts {
    background: url(/public/images/background-dessert.webp);
    background-size: cover;
    background-position-x: 32px;
    background-attachment: fixed;
}

.pizza-tomates ul,
.pizza-blanches ul,
.pizza-calzones ul,
.desserts ul,
.boissons ul,
.pizza-plats ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 6rem;
    padding: 0;
}

.pizza-tomates ul li,
.pizza-blanches ul li,
.pizza-calzones ul li,
.desserts ul li,
.boissons ul li,
.pizza-plats ul li {
    position: relative;
    list-style: none;
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    background: rgba(0, 0, 0, .2);
    border-bottom: 3px solid;
    border-left: 4px solid;
}

.pizza-tomates ul li,
.pizza-blanches ul li,
.pizza-calzones ul li,
.desserts ul li,
.pizza-plats ul li {
    max-height: 63px;
    overflow: hidden;
    height: auto;
    transition: max-height .5s ease-in;
}

article.pizza-tomates>ul>li.show,
article.pizza-blanches>ul>li.show,
article.pizza-calzones>ul>li.show,
article.desserts>ul>li.show,
article.pizza-plats>ul>li.show {
    max-height: 400px;
    height: auto;
    transition: max-height .5s ease-in;
}

.boissons ul li {
    width: 100%;
    display: flex;
    justify-content: space-between;
    column-gap: 4px;
}

.contact {
    color: #e03325;
    border-bottom: 1px solid #34A248;
    cursor: pointer
}


/* span:not(.title) {
    font-family: 'Marck Script', cursive;
    text-align: center;
    font-size: 25px;
    margin-bottom: 5rem;
    margin-top: 4rem;
    text-decoration: underline;
    padding: 1rem;
    background: url(/public/images/italian_flag_background_title.jpg);
    background-size: 283px;
    background-position-x: center;
    background-repeat: no-repeat;
} */

span#boissons,
#desserts,
#pizza,
#find {
    font-family: 'Marck Script', cursive;
    text-align: center;
    font-size: 28px;
    margin-bottom: 5rem;
    margin-top: 4rem;
    text-decoration: underline;
    padding: 1rem;
    background: url(/public/images/italian_flag_background_title.webp);
    background-size: 310px;
    background-position-x: center;
    background-position-y: 4px;
    background-repeat: no-repeat;
    display: block;
}


/* .menu li>p {
    font-size: 19px;
    color: green;
    font-weight: 900;
    width: 60%;
    display: contents;
    cursor: pointer;
} */

.card-title {
    font-size: 19px;
    color: green;
    font-weight: 900;
    width: 60%;
    display: contents;
    cursor: pointer;
}

.title-category {
    font-size: 31px;
    color: firebrick;
    border-bottom: 2px solid;
    width: 85%;
    margin: auto;
    margin-bottom: 4rem;
    margin-top: 3rem;
}

.presentation {
    background: url(/public/images/background-presentation.webp);
    background-position-y: 1421px;
    position: relative;
    background-size: 1494px;
}

.presentation>div {
    text-align: center;
    color: white;
    font-size: 38px;
    font-family: 'Marck Script', cursive;
    background: #bb2216;
    border: 8px solid green;
    border-radius: 20px;
    margin-bottom: 0;
    padding: 2rem;
}

.presentation>div>h1,
.presentation>div>span {
    font-size: .9em;
}

.presentation article {
    padding: 2rem;
}

.presentation p {
    padding: 1rem;
    text-align: center;
    font-size: 17px;
    font-family: 'Kite One', sans-serif;
    color: white;
    background: rgba(0, 0, 0, .9);
}

.presentation h2 {
    text-align: center;
    color: white;
    font-size: 38px;
    font-family: 'Marck Script', cursive;
    background: #bb2216;
    border: 8px solid green;
    border-radius: 20px;
    margin-bottom: 0;
    padding: 2rem;
}

.presentation h3 {
    color: white;
    font-size: 27px;
}

.presentation-pizza {
    width: 70%;
    margin: auto;
    position: relative;
    background-color: #34A248;
    padding: 4rem;
}

.presentation-pizza img {
    position: absolute;
}

.contact-tel {
    text-align: center;
    display: block;
    font-size: 30px;
    outline: 5px solid green;
    color: white;
    margin-top: 3rem;
}

.img-italian-flag {
    display: block;
    margin: auto;
}

.ingredient-details {
    width: 86%;
    font-weight: 600;
    font-size: 18px;
    padding: 10px;
    font-family: 'Kite One', sans-serif;
}

.fade-update {
    animation: fade-in forwards 5.5s;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 500;
}


/* Effect with intersection observer */

.fade {
    opacity: 0;
    transition: opacity .5s ease-in-out;
}

.fade.appear {
    opacity: 1;
}

.from-top {
    transform: translateY(-20%);
}

.from-left {
    transform: translateX(-5%)
}

.from-right {
    transform: translateX(10%)
}

.from-left.appear {
    opacity: 1;
    transform: translateX(0);
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
    transition-delay: 100ms;
}

.from-top.appear {
    opacity: 1;
    transform: translateY(0);
    transition: transform .5s ease-in-out, opacity .3s ease-in-out, max-height .5s ease-in-out;
}

.from-right.appear {
    opacity: 1;
    transform: translateX(0);
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
    transition-delay: 100ms;
}

.schedule ul {
    padding: 0;
}

.schedule li {
    text-align: center;
    list-style: none;
    font-size: 17px;
    color: black;
    font-weight: 700;
}

.schedule ul li:nth-child(10) {
    font-size: x-large
}

.schedule ul li:nth-child(11),
.schedule ul li:nth-child(11) a {
    font-size: x-large;
    color: black;
    text-decoration: underline;
}

address {
    font-size: 23px;
}

footer {
    background: url(/public/images/flavor.webp);
    padding: 2rem;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.pizza-draw {
    max-width: 100%;
    position: absolute;
    top: -7%;
    left: 70%;
    width: 163px;
    display: none;
}

.pizza-vintage {
    max-width: 100%;
    position: absolute;
    width: 431px;
    max-width: 100%;
    position: absolute;
    width: 431px;
    bottom: 67rem;
    right: 65%;
    display: none;
}

.maps {
    display: block;
    border: 0;
    margin: auto;
    max-width: 100%;
}

.schedule {
    position: relative;
    margin-top: 3rem;
    flex: initial;
    border: 5px solid green;
    border-radius: 27px;
    padding: 1rem;
    color: white;
    background: #e03325;
    display: flex;
    justify-content: space-around;
}

.schedule .logo-pizziamo {
    display: none;
    max-width: 100%;
}

.price {
    right: 1rem;
    top: 1rem;
    font-weight: bold;
    float: right;
    font-size: large;
}

.pizza-calzones ul li .price {
    float: none;
    margin-left: auto;
}

.pizza-calzones ul li:nth-child(2),
.pizza-calzones ul li:nth-child(1) {
    max-height: 90px;
}

.price-drink {
    font-weight: bold;
    font-size: large;
    margin-top: 8px;
}

.pizza-plats ul li .price {
    margin-top: 7px
}

.boissons h4 {
    font-size: 21px;
    font-family: 'Kite One', sans-serif;
}

.creator {
    font-size: 14px;
    align-self: center;
}

.copyright {
    font-size: 17px;
}

.credit-accept {
    color: white;
    padding: 0;
}

.paiements {
    list-style: none;
    display: flex;
    flex-direction: column;
    column-gap: 1rem;
    text-align: center;
}

.logo-restaurant {
    width: 200px;
}

.logo-cb {
    width: 73px;
}

.logo-cash {
    max-width: 100%;
    width: 70px;
}

.footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
}


/* Arrow beside pizza name */

li>p>i {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-bottom: 4px;
    margin-left: 10px;
    transform: rotate(45deg);
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.d-block {
    display: block;
}

@keyframes scale {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.2);
    }
}

@keyframes slide-in {
    0% {
        opacity: 0;
        transform: translateX(-70px);
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateX(-70px);
    }
    25% {
        opacity: .5;
    }
    30%,
    40%,
    50%,
    51%,
    55%,
    56%,
    60%,
    61%,
    65%,
    66%,
    67%,
    70% {
        opacity: 1;
        transform: translateX(0px);
    }
    75% {
        opacity: .5;
    }
    100% {
        opacity: 0;
        transform: translateX(70px);
    }
}

@media screen and (min-width:373px) {
    .pizza-calzones ul li:nth-child(1) .price {
        float: right;
        margin-top: 9px;
    }
    .pizza-calzones ul li:nth-child(1) {
        max-height: 63px;
    }
}

@media screen and (min-width:425px) {
    .presentation {
        background-position-y: 1142px;
        background-size: 1186px;
    }
}

@media screen and (min-width:444px) {
    .pizza-calzones ul li:nth-child(2) {
        max-height: 63px;
    }
    .pizza-calzones ul li:nth-child(2) .price {
        float: right;
        margin-top: 9px;
    }
}

@media screen and (min-width:500px) {
    .pizza-draw {
        display: block;
    }
}

@media screen and (min-width:530px) {
    .presentation {
        background-position-y: 1098px;
        background-size: 1387px;
    }
}

@media screen and (min-width:650px) {
    .boissons ul li {
        width: 42%;
    }
}

@media screen and (min-width:768px) {
    .main-header {
        transform: none;
        height: 100px;
    }
    .menu li>p {
        cursor: default;
    }
    .top-nav {
        display: block;
    }
    .main-header nav ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 22px;
    }
    .pizza-tomates ul,
    .pizza-blanches ul,
    .pizza-calzones ul,
    .boissons ul,
    .desserts ul,
    .pizza-plats ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        -moz-column-gap: 6rem;
        column-gap: 5px;
        padding: 0;
    }
    .pizza-tomates ul li,
    .pizza-blanches ul li,
    .pizza-calzones ul li,
    .desserts ul li,
    .pizza-plats ul li {
        width: 47%;
        max-height: none;
        cursor: default
    }
    .pizza-calzones ul li:nth-child(2),
    .pizza-calzones ul li:nth-child(1) {
        width: 47%;
        max-height: none;
    }
    .boissons ul li {
        width: 30%;
    }
    .boissons h4 {
        font-size: 22px;
    }
    .ingredient-details {
        font-size: 18px;
        /* letter-spacing: 5px; */
    }
    .contact-tel {
        width: 50%;
        margin: auto;
        font-size: 40px;
    }
    .carousel .carousel-item {
        height: 640px;
    }
    .presentation h3 {
        font-size: 35px;
    }
    .presentation h2 {
        font-size: 43px;
    }
    li>p>i {
        display: none;
    }
    .title-category {
        width: 40%;
    }
    .pizza-draw {
        top: -11%;
        left: 64%;
        width: 275px;
    }
    .pizza-category .pizza-category-nav {
        background: url(/public/images/flavor.webp);
        width: 213px;
        position: absolute;
    }
    .menu-carte .menu-carte-nav {
        background: url(/public/images/flavor.webp);
        width: 213px;
        position: absolute;
    }
    .menu-carte .menu-carte-nav.show {
        height: 176px;
    }
    .top-nav {
        bottom: 0;
    }
    .presentation {
        background-position-y: 1098px;
        background-size: 1665px;
    }
}

@media screen and (min-width:838px) {
    .schedule .logo-pizziamo {
        display: block;
        width: 303px;
    }
}

@media screen and (min-width:953px) {
    .presentation {
        background-position-y: 828px;
        background-size: 1244px;
    }
    .presentation p {
        font-size: 21px;
    }
}

@media screen and (min-width:1000px) {
    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 5rem;
        width: 90%;
        margin: auto;
        flex-wrap: wrap;
    }
    .pizza-tomates ul li,
    .pizza-blanches ul li,
    .pizza-calzones ul li,
    .desserts ul li,
    .pizza-plats ul li {
        height: auto;
    }
    .pizza-vintage {
        display: block;
    }
    .pizza-draw {
        top: -11%;
        left: 66%;
        width: 275px;
    }
}

@media screen and (min-width:1024px) {
    .pizza-draw {
        top: -11%;
        left: 69%;
        width: 275px;
    }
}

@media screen and (min-width:1200px) {
    h1,
    .main-title {
        bottom: 0;
        right: 6%;
        width: 100%;
        font-size: 1.4em;
    }
}

@media screen and (min-width:1230px) {
    .boissons ul li {
        width: 20%;
    }
}

@media screen and (min-width:1280px) {
    .presentation {
        background-position-y: 828px;
        background-size: 1411px;
    }
}

@media screen and (min-width:1418px) {
    .presentation {
        background-position-y: 778px;
        background-size: 1874px;
    }
}

@media screen and (min-width:1550px) {
    h1,
    .main-title {
        right: 57%;
        font-size: 1.4em;
    }
}

@media screen and (min-width:1874px) {
    .presentation {
        background-position-y: 878px;
        background-size: 2671px;
    }
}